.header__logo-link {
    font-family: Arial;
    font-size: 30px;
    line-height: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.05);
    color: #a5adb8;
   text-decoration: none;
   display: block;
   margin-bottom: 4px;
}

.header__logo-desc {
    font-family: Arial;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: #656f7a;
}

.header__logo {
    float: left;
    margin-left: 9px;
    margin-top: 5px;
    
}

.header__search {
    float: right;
    margin-right: 8px;
}
.lupa{
    transform: rotate(-90deg);
    transition: transform .2s;
}
.lupa:hover {
    transform: scale(1.5); 
}
.header__search input {
    float: left;
    padding: 0 17px;
    border-radius: 5px;
    height: 31px;
    background-color: #24272d;
    border: 1px solid #875f66;
    box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.24);
}

.header__search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #5b636e;

}
.header__search input::-moz-placeholder { /* Firefox 19+ */
    color: #5b636e;

}
.header__search input:-ms-input-placeholder { /* IE 10+ */
    color: #5b636e;

}
.header__search input:-moz-placeholder { /* Firefox 18- */
    color: #5b636e;
}
.header__search button {
   background-color: #ae4b5d;
   border: 1px solid #ae4b5d;
   border-radius: 5px;
   float: left;
   margin-left: 10px;
    width: 34px;
    height: 36px;
    color: white;
}
.header .container {
    padding: 20px 8px 15px;
}
.header {
    background-color: #2d343d;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}