@import "./header.css";

p {
    margin: 0;
}
.firstRedLetter::first-letter {
    color: #875f66;
}
.ttu {
    text-transform: uppercase;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

body, html {
    font-size: 16px;
    margin: 0;
    font-family: "Arial";

}

.container {
    max-width: 980px;
    margin: 0 auto;
}


.banner__wrapper {
    position: relative;
}
.banner__wrapper img {
    width: 100%;
}
.banner__text {
    position: absolute;
    top: 38px;
    left: 38px;
}

.banner__text h1 {
    font-size: 1.875rem;
    margin: 0;
    color: #a5adb8;
    margin-bottom: 2px;
}
.headline {
    margin-top: 26px;
}
.headline h2 {
    margin: 9px 0;
}
.headline p {
    margin-bottom: 6px;
}
.banner__text-black {
    font-family: Arial;
    font-size: 18px;
    line-height: 14px;
    font-weight: 700;
    color: #282d33;
    margin-bottom: 17px;
}
.banner__text h2 {
    margin: 0;
    margin-bottom: 5px;
    color: #a5adb8;
    font-size: 1.125rem;
}
.banner__text-white {
    color: #d9dcdf;
    max-width: 440px;
    max-height: 80px;
    overflow: hidden;
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #d9dcdf;
}

.nav__list{
    background-color: #95161f;
    display: inline-block;
    
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__list-link {
    font-family: Arial;
    font-size: 16px;
    line-height: 14px;
    font-weight: 700;
    color: #ffffff;
    display: block;
    text-decoration: none;
    padding: 9px 25px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.nav__list-link:hover {
    box-shadow: inset 100px 0 0 0 #ffffff;
    color: #95161f;
}
.nav__list-item {
    float: left;
}
.nav .container {
    text-align: right;
    background-color: #95161f;
}
.breadcrumbs{
    
    background-color: #f3f3f3;
    padding: 1px 23px 0px;
}

.breadcrumbs__list {

    list-style: none;
    padding: 0;
    margin: 0;
}
.breadcrumbs__list-item {
    display: inline-block;
    font-family: Arial;
    font-size: 11px;
    line-height: 24px;
    font-weight: 400;
    color: #6b6f74cd;
}
.breadcrumbs__list-item a {
    color: #95161f;
    
}
.breadcrumbs__list-item a:visited {
    color: #95161f;
}
.breadcrumbs__list-item:after {
    content: '/';
    color: #6b6f74cd;
    padding-left: 2px;
}

.breadcrumbs__list-item:nth-last-of-type(1)::after {
    content: '';
}
main {
    padding-top: 19px;
}
aside {
    max-width: 212px;
    width: 100%;
    float: left;
    margin-left: 22px;
   

}
.headline p {
    padding-right: 10px;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #5c646e;
}
.headline a {
    margin-top: 15px;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: underline;
    color: #95161f;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; 
}
.headline a:hover {
    font-size: 15px;
}
article {
    float: left;
    max-width: 700px;
    padding-left: 29px;
    margin-top: 5px;
}

article p {
    margin-top: 15px;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #5c646e;
    margin-bottom: 2px;
}
article p a {
    color: #95161f;
}
article p a:visited {
    color: #95161f;
}

article p a:hover {
    transition: 1s;
    background-color: #95161f;
    color: white;
}

h3 {
    margin: 0;
    font-family: Arial;
    font-size: 24px;
    line-height: 14px;
    font-weight: 700;
    color: #a5adb8;
}
h3::first-letter {
    color: #ae4b5d;
}
article h3 {
    margin: 0;
    font-family: Arial;
    font-size: 24px;
    line-height: 14px;
    font-weight: 700;
    color: #a5adb8;
}
article h3::first-letter {
    color: #ae4b5d;
}
aside h3 {
    margin: 19px 0 20px;
    font-size: 1.125rem;
}
aside form {
    padding: 0px 13px;
    padding-bottom: 33px;
    background-color: #f3f3f3;
    border: 1px solid #d8dbde;
}
aside input, aside select {
    display: block;
    width: 170px;
    border: 1px solid #fffcfc;
    border-radius: 5px;
    margin-bottom: 12px;
    padding-left: 9px;
   
    height: 30px;
    background-color: #e3e4e5;
}
aside select {
    width: 100%;
}
.select__wrapper {
    position: relative;
}
.select__wrapper::before {
    content: '';
    display: block;
    background-color: #e3e4e5;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 8px;
    position: absolute;
    pointer-events: none;
}


.select__wrapper::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5.5px 0 5.5px;
    border-color: #989da1 transparent transparent transparent;
    right: 13px;
    top: 13px;
    position: absolute;
    pointer-events: none;
}
aside button {
    background-color: #95161f;
    background-image: linear-gradient(0.0deg, #95161f 0%, #b0252e 100%);
    border: 5px solid #ffffff;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.18);
    padding: 10px 30px;
    color: #fff;
    margin: auto;
    display: inline-block;
    margin-top: 11px;
    transition: 1s;

}
aside button:hover {
    transform: scale(1.2);
}
.button__wrapper {
    text-align: center;
}
.shortcuts {
    margin-bottom: 20px;
}
.shortcuts_block {
    display: inline-block;
    margin-bottom: 12px;
    
}
.shortcuts_block h2 {
    margin-bottom: 14px;
    padding-right: 14px;
    font-family: Arial;
    font-size: 18px;
    line-height: 14px;
    font-weight: 700;
    color: #282d33;
}
.shortcuts img {
    padding: 0;
    margin: 0;
    transition: 1s linear;
}
.shortcuts img:hover {
    background: #95161f;
}
.list {
    margin-top: 11px;
}
.list_wrapper {
    margin-top: 4px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: top;
}

.list ul {
    margin-top: 0px;
    list-style-type: disc;
    padding-left: 20px;
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #5c646e;
}

.Ordered p {
    margin-left: 10px;
}
.Unstyled ul {
    list-style-type: none;
}
.Unstyled ul li ul {
    list-style-type: disc;
}
.Ordered ol {
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #5c646e;
    padding-left: 28px;
    margin-top: 3px;
}
code {
    background-color: #dedede;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #5c646e;
    
}
table {
    margin-top: 24px;
    margin-bottom: 60px;
    width: 694px;
    min-height: 269px;
    background-color: #d8dbde;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    color: white;
    
    text-align: center;
    border-radius: 10px;
   
    border-spacing: 1px;
    
}
.burgundy {
    background-color: #9c4757;
    border-radius: 10px;
}
.burgundy td:first-child {
    border-top-left-radius: 10px;
}
.burgundy td:last-child{
    border-top-right-radius: 10px;
}
.bottom  td:first-child {
    border-bottom-left-radius: 10px;
}
.bottom  td:last-child{
    border-bottom-right-radius: 10px;
}
tbody tr td:nth-child(1){
   width: 6.5%;
}
tbody tr td:nth-child(2){
    width: 18%;
}
 tbody tr td:nth-child(3){
    width: 30%;
}
 tbody tr td:nth-child(4){
    width: 27.5%;
}
 tbody tr td:nth-child(5){
    width: 18%;
}
table  td a {
    text-decoration: none;
    color: #d08b98;
}
table  td a:after {
    background-color: #9c4757; 
    display: block;
    content: "";
    height: 2px; 
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
table  td a:hover:after,
table  td a:focus:after {
    width: 100%;
}
table  td a:visited {
    color: #d08b98;
}


.dark {
    background-color: #282d33;
    font-family: Arial;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #9da4af;
}


footer {
    clear: both;
    background-color: #282c32;
}
.footer_top {
    display: block;
    min-height: 8px;
    background-color: #ae4b5d;
   
}
.footer_content_box {
    display: inline-block;
    vertical-align: top;
    margin: 28px 62px 0 10px;
   
}
.footer_content_box .hours {
    margin-top: 3px;
    padding-left: 31px;
}
.footer_content_box .hours li {
    position: relative;
    list-style-type: none;
    padding-left: 0px;
}
.footer_content_box .hours li::before{
    position: absolute;
    content: url(../img/cherry.png);
    top: 7px;
    left: -24px;

}


.footer_content_box p {
    font-family: Arial;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #85898f;
    margin-top: 11px;
}
/* .footer_content_box .hours li:first-child {
    list-style: none;
    font-family: Arial;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #85898f;
    } */
.footer_content_box .local_cherry  {
    margin-top: 0px;
    list-style: inside;
    color: #9c4757;
    font-family: Arial;
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 400;
    padding-left: 3px;
    
}
.footer_content_box a{
    font-family: Arial;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: #a5adb8;
    text-decoration: none;
}
.footer_content_box  a:visited {
    color: #a5adb8;
}
.footer_content_box .local_cherry li::marker {
    color: #9c4757;
}
.footer_content_box .none_lacation {
    list-style: none;
    margin-top: 7px;
    padding-left: 3px;
}
.last hr {
    margin-bottom: 4px;
}
.footer_content_box .none_lacation li a {
    font-family: Arial;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #d08b98;
    text-decoration: underline;
}

.footer_content_box .none_lacation li a:visited {
    color: #d08b98;
}
.footer_content_box ul li {
    font-family: Arial;
    font-size: 12px;
    line-height: 2;
    font-weight: 400;
    color: #85898f;
    
}
.footer_content_box h3 {
    display: inline-block;
    font-family: Arial;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
}
.exeption::first-letter {
    color: #a5adb8;

}
.footer_content_box .exeption {
    display: inline-block;
}

.footer_content_box  hr{
    margin-top: 6px;
    margin-left: 0;
    padding: 0;
    width: 270px;
    height: 1px;
    background-color: #40474f;  
    border: #40474f;
}
.last {
    margin-right: 0;    
}